@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto:wght@400;900&display=swap');

:root {
  --primary-color: #191918;
  --secondary-color: #696867;
  --active-color: #E61C42;
}

h4 {
  margin: 14px;
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

button {
  width: 150px;
  padding: 7px;
  color: #696867;
  background: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.active {
  background: #fff;
}

input {
  padding: 2px;
  height: 24px;
  border: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  padding-inline: 14px;
}

ul {
  display: flex;
  font-weight: bold;
}

li {
  list-style-type: none;
  width: max-content;
  padding-block: 2px;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;

}

li.active a {
  border-bottom: solid 3px #E61C42;
  color: var(--active-color);
}

.container {
  text-align: center;
  margin-block: auto;
  display: block;
  color: #696867;
  z-index: 0;
  width: 70%;
}

.user_data {
  text-align: center;
  margin-block: auto;
  display: block;
  color: #696867;
  width: max-content;
}

.chat {
  background: #fff;
  width: 30%;
  border-right: solid 2px #ccc;
  padding: 30px;
  min-height: 100%;
  height: max-content;
  text-align: center;
  display: inline-block;
}

.chat_head {
  display: flex;
  justify-content: space-between;
}

.chat_container {
  background: #fff;
  margin: auto;
  text-align: center;
  height: max-content;
  color: #696867;
  display: block;
  margin-block: auto;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

.refresh {
  display: flex;
  align-items: center;
}

.btn_tab_bg {
  background: #f0f0f0;
  margin-block: 30px;
  text-align: center;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-inline: auto;
}

.navbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #ccc;
  align-items: center;
  z-index: 30;
}

.main_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 30;
}

.main_logo {
  align-items: center;
}

.user_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 30;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 30;
}

.common_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.dropdown{
  position: relative;
  display: block;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 20px;
  top: 35px;
  max-width: fit-content;
  font-max-size: medium;
  text-align: center;
  padding: 5px;
  padding-block: 8px;
  border-radius: 3px;
  z-index: 40;
}

.dropdown_content a {
  color: #fff;
}

.dropdown_content li {
  text-align: center;
  display: block;
  margin: auto;
}

.dropdown:hover .dropdown_content {
  display: block;
  background: #696867;
}

.dropdown_btn {
  background: none;
}

.logo {
  width: 50px;
}

.error {
  color: #E61C42;
  text-align: center;
  display: inline-block;
  transform: scale(0.8);
  margin: auto;
  max-width: fit-content;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 1300px) {

  button {
    width: 90px;
  }

  .chat {
    background: #fff;
    text-align: center;
    display: block;
    padding: 30px;
    width: 100%;
    max-width: content-box;
  }

  /*.error {*/
  /*  color: #E61C42;*/
  /*  text-align: center;*/
  /*  display: block;*/
  /*  padding: 30px;*/
  /*  max-width: max-content;*/
  /*}*/

  .chat_head {
    display: block;
    text-align: center;
  }

  .search {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  .refresh {
    display: block;
    align-items: center;
  }
}

@media screen and (max-width: 870px) {
  input {
    height: 30px;
    border: none;
  }

  body {
    background: #fff;
  }

  .navbar {
    background: #fff;
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: none;
    align-items: center;
    z-index: 30;
    max-width: fit-content;
  }

  .main {
    display: block;
    text-align: center;
    justify-content: center;
    max-width: fit-content;
  }

  .container {
    display: none;
  }

  .chat {
    background: #fff;
    text-align: center;
    display: block;
    padding: 30px;
    border-right: none;
    max-width: fit-content;
  }

  .chat_head {
    display: block;
    text-align: center;
  }

  .search {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  .refresh {
    display: block;
    align-items: center;
  }

  .common_menu {
    display: none;
  }

  ul {
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .error {
    color: #E61C42;
    text-align: center;
    display: inline-block;
    transform: scale(0.6);
    margin: auto;
    max-width: fit-content;
  }

}
